@import url(https://fonts.bunny.net/css?family=amita:700);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url(https://fonts.bunny.net/css?family=aldrich:400);
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@font-face {
    font-family: Nebulax;
    src: url('./assets/fonts/Nebulax.ttf');
}
@font-face {
    font-family: Avacado;
    src: url('./assets/fonts/LTAvocado-Bold.ttf');
}

@font-face{
    font-family: Bartomes;
    src: url('./assets/fonts/Bartomes.otf');
}

@font-face{
    font-family: Lucky;
    src:url('./assets/fonts/Luckyfield\ 400.ttf');
}
html{
    scroll-behavior: smooth;
}
  

@import "tailwindcss";
@layer utilities {
    .text-stroke {
      -webkit-text-stroke: 1px black;
    }
  }


@theme{
    --font-nebulax : Nebulax,"sans-serif";
    --font-monoton : "Monoton",sans-serif;
    --font-avocado : Avacado,"sans-serif";
    --font-teko : "Teko",sans-serif;
    --font-bartomes : Bartomes,"sans-serif";
    --font-lucky : Lucky,"sans-serif";
    --font-aldrich:'Aldrich', sans-serif;
    --font-anton: "Anton", sans-serif;
    --font-poppins:"Poppins", sans-serif;

    --color-navy : #000A26;
    --color-powder : #A6C6D8;
    --color-saphire : #0F52BA;
    --color-ice : #D6E6F2;
    --color-charcoal : #1c1c1c;
    --color-lorange : #00CFFF;
}




